body {
    background-color: black !important;
} 
.banner-container {
    position: relative;
}

.imgstyle {
    position: relative;
    width: 100vw !important;
    height: calc(100vh - 10px) !important;
    object-fit: cover !important;
    z-index: -1 !important;
}

/* Add this CSS in your stylesheet or <style> tag */
.carousel-control-prev,
.carousel-control-next { 
  display: none;
}

.bannerprtimg{
    margin-top: -600px !important;
    position: relative;
    width: 350px;
    margin-bottom: -50px !important;
    margin-right: 800px;
}

.filmnme{
    margin-top: -380px;
    font-size: 70px !important;
    font-weight: bold;
    color: white;
    z-index: 1;
}

.filmintro{
    margin-left: 200px;
}

.filmintrosec{
    margin-left: -30px !important;
}

.catgary{
    font-size: 10px;
    background: none !important ;
    border: 1px solid white !important;
    margin-left: 10px;
}

.button-container{
    margin-right: 280px !important;
}

.hourstxt{
    margin-left: -50px;
    margin-top: 10px;
}

.ticketarea{
    width: 1000px;
    position: absolute;
    background-color: aliceblue;
    height: 80px;
    margin-left: 20px;
    margin-top: -130px;
    background: rgba(0, 0, 0, 0.49);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.6px);
    -webkit-backdrop-filter: blur(5.6px);
}

.info{
    font-size: 15px;
    margin-top: -10px;
    font-weight: 180px;
}

.infopart{
    margin-top: 20px;
}

.carousel-indicators li {
    width: 150px !important; 
    height: 500px !important; 
    margin-right: 5px; 
    margin-left: 5px; 
}

.btntkt{
    background: none !important;
    margin-left: 700px;
    border: 1px solid #FF9800 !important;
    color: #FF9800 !important;
    margin-top: -110px;
    font-size: 20px;
}

.btntkt:hover{
    background-color: #FF9800 !important;
    color: #000 !important;
}
