body {
    background-color: black !important;
} 
.banner-container {
    position: relative;
}

.imgstyle {
    position: relative;
    width: 100vw !important;
    height: calc(100vh - 70px) !important;
    object-fit: cover !important;
    z-index: -1 !important;
}

/* Add this CSS in your stylesheet or <style> tag */
.carousel-control-prev,
.carousel-control-next {
  display: none;
}



