.heading{
    margin-left: 200px !important;
    margin-top: 20px;
}

.cardspages{
    background: none !important;
    margin-top: 50px;
    margin-left: 20px;
}

.txtcard{
    font-size: 34px !important;
    margin-left: -20px;
}

.ticketsbtn{
    background: #FF9800;
    border: none;
    color: black;
    
}

.ticketsbtntriler{
    margin-left: 20px;
    background: none !important;
    border: 1px solid #ffffff;
    color: #fff;
}

.infotitle{
    margin-left: -20px;
}


.btnwatchtraier{
    display: flex;
    margin-top: 30px;
    margin-left: -20px;
}

.upcomingbtn{
   background: none;
   border: #fff 1px solid;
}

.releasdte{
    flex-shrink: 0;
    margin-left: -20px;
    margin-top: 20px;
}

.textalign{
    margin-left: -80px !important;
}

.ticketsbtn:hover{
    background: none !important;
    color: #FF9800 !important;
    border: #FF9800 1px solid;
}

.ticketsbtntriler:hover{
    background-color: #9E9E9E !important;
    color: #000 !important;
    border: #000 1px solid;
}

.upcomingbtn:hover{
    background-color: #9E9E9E !important;
    color: #000 !important;
    border: #000 1px solid;
}