
.backgroundclr {
    position: absolute;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    background: rgba(13, 9, 9, 0.45);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.9px);
    -webkit-backdrop-filter: blur(2.9px);
    border: 1px solid rgba(13, 9, 9, 0.3);
    height: 70px !important;
    z-index: 1;
}

.navname {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 500;
    color: #ffffff;
    font-weight: bold;
    margin-left: 20px;
}

.navlinks {
    color: #FF9800 !important;
    font-size: 18px;
    margin-left: 20px;
}

.navlinkslast {
    font-size: 20px;
    margin-left: 20px;
}

.navlinksmrgn {
    margin-left: 230px;
}

.giveawys {
    margin-top: 2px;
    height: 50px;
    background: none !important;
    border-color: #FF9800 !important;
}

.giveawys:hover {
    background: #FF9800 !important;
    border-color: #FF9800 !important;
    color: #000 !important;
}

.tickets:hover {
   background: #FF9800 !important;
}

.tickets {
    margin-top: 2px;
    height: 45px;
    margin-left: 20px;
    background-color: #FF9800;
    border: none !important;
    border-color: none !important;
}